.vs/*
packages/*
UdpMouse/bin/x64/Debug/*
UdpMouse/bin/x64/Release/*
UdpMouse/bin/Debug/*
UdpMouse/bin/Release/*
UdpMouse/obj/*
UdpMouse/bin/Debug/*
UdpMouse/bin/Release/*
UdpMouse/bin/x64/Debug/*
UdpMouse/bin/x64/Release/*
UdpMouse/obj/*
UdpMouseClient/bin/x64/Debug/*
UdpMouseClient/bin/x64/Release/*
UdpMouseClient/bin/Debug/*
UdpMouseClient/bin/Release/*
UdpMouseClient/obj/*
UdpMouseClient/bin/Debug/*
UdpMouseClient/bin/Release/*
UdpMouseClient/bin/x64/Debug/*
UdpMouseClient/bin/x64/Release/*
UdpMouseClient/obj/*
packages/*